# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
Debug
*.sdf
*.suo
ipch
*.opensdf

# mstest test results
TestResults